/* General Style */

body {
	background-color:#fff; 
	padding-top: 90px;
	}

.well {
	background-color: #FFF; 
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
		    box-shadow: 0 1px 3px rgba(0,0,0,.13);
	}
	
.well.one {
	border: 2px dotted #688078; 
	background-color: #f7f7f7;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
			box-shadow: 0 1px 3px rgba(0,0,0,.13);
	}
	
ol, ul {
	margin-top: 0;
	margin-bottom: 12px;
	margin-left: -20px;
	}

.col-centered {
	float: none;
	margin: 0 auto;
}

.form-control {
	font-size:16px;
	color: #333;
	
}

select {
	font-size:14px;
    background-color: #FFF;
	}
	
.loginbtn {
	float:none;
	clear:both;
	width:100%;
	display:block;
	background:#00aadc;
	border-color:#0087be;
	color:white;
	border-style:solid;border-width:1px 1px 2px;
	cursor:pointer;
	margin:0;
	outline:0;
	overflow:hidden;
	font-weight:600;
	text-overflow:ellipsis;
	text-decoration:none;
	vertical-align:top;
	box-sizing:border-box;
	font-size:14px;
	line-height:1.3;
	height:auto;
	border-radius:4px;
	padding:10px 16px;
	-webkit-appearance:none;appearance:none;
	}
	
.loginbtnGray {
	float: none;
	clear: both;
	width: 100%;
	display: block;
	background: #424e49;
	border-color: #1d1c1c;
	color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 2px;
	cursor: pointer;
	margin: 0;
	outline: 0;
	overflow: hidden;
	font-weight: 600;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.3;
	height: auto;
	border-radius: 4px;
	padding: 10px 16px;
	-webkit-appearance: none;
	appearance: none;
	}
		
.loginbtnGrays {
	float: none;
	clear: both;
	width: 100%;
	display: block;
	background: #d8d8d8;
	border-color: #1d1c1c;
	color: #252525;
	border-style: solid;
	border-width: 1px 1px 2px;
	cursor: pointer;
	margin: 0;
	outline: 0;
	overflow: hidden;
	font-weight: 600;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.3;
	height: auto;
	border-radius: 4px;
	padding: 10px 16px;
	-webkit-appearance: none;
	appearance: none;
	}
	
.loginbtn:hover {
	border-color:#005082;
	color:white;
	}
		
.loginbtn:active {
	border-width:2px 1px 1px;}
		
.loginbtn:focus{
	border-color:#005082;
	box-shadow:0 0 0 2px #78dcfa;
	}
		
.showOff {
	display:none;
	}
	
.showOfftwo {
	display:none;
	}
			
.showOffthree {
	display:none;
	}
			
#charNum {
	font-weight:bold;
	color:#333;
	margin-left:5px;
	margin-top:7px;
	margin-bottom:5px;
	}
	
.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #E2E2E2;
	border-radius: 10px;
	border: 1px solid gray;
	}
	
.noshow {
	display:none;
	}
	
.fa-4 {
	font-size: 2em;
	}
	
.logo {
	float: left;
	height: 50px;
	padding: 10px 10px;
	font-size: 18px;
	line-height: 20px;
	color: #bbbf46;
	}
	
.navbar-brand {
	float: left;
	height: 50px;
	padding: 17px 15px;
	font-size: 18px;
	line-height: 20px;
	}

a:focus, a:hover {
	color: #91a096;
	text-decoration: underline;
	}
	
th {
	text-align: left;
	background-color: #f7f7f7;
	}
	
code {
	padding: 0px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	}
	
.alert {
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	}
			
/* Switch Style */

.switch-toggle {
  margin-bottom: 10px;
}
.switch {
    background-color: #fff;
    box-shadow: inset 0 -1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-top: -1px;
    padding: 3px;
    position: relative;
    vertical-align: top;
    width: 56px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.switch-input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.switch-input:checked ~ .switch-label {
  background: #319DB5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-handle {
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
  left: 40px;
}
.switch-label {
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  display: block;
  font-size: 10px;
  height: inherit;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.switch-label:before {
  -moz-transition: inherit;
  -o-transition: inherit;
  -webkit-transition: inherit;
  color: #aaaaaa;
  content: attr(data-off);
  line-height: 1;
  margin-top: -0.5em;
  position: absolute;
  right: 7px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  top: 50%;
  transition: inherit;
}
.switch-label::after {
  -moz-transition: inherit;
  -o-transition: inherit;
  -webkit-transition: inherit;
  line-height: 1;
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
  transition: inherit;
}
.switch-label:after {
  color: #fff;
  content: attr(data-on);
  left: 11px;
  opacity: 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label::before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label::after {
  opacity: 1;
}
.switch-handle {
  background: #fff;
  background-image: -moz-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  height: 18px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 18px;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  background: #f9f9f9;
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  content: '';
  height: 12px;
  left: 50%;
  margin: -6px 0 0 -6px;
  position: absolute;
  top: 50%;
  width: 12px;
}
.switch-orange > .switch-input:checked ~ .switch-label {
  background: orange;
}
.switch-blue > .switch-input:checked ~ .switch-label {
  background: #1e8cbe;
}
.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}
.ios-switch input[type="checkbox"] {
  margin: 0;
  opacity: 0;
  position: absolute;
}
.ios-switch input[type="checkbox"]:checked + div {
  background-position: 0 0;
  padding-left: 2em;
}
.ios-switch input[type="checkbox"]:active + div before {
  background-color: #eeeeee;
  text-align: left;
}
.ios-switch input[type="checkbox"] + div {
  background-clip: border-box;
  background: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent), linear-gradient(90deg, #319db5 50%, transparent 50%);
  background-origin: border-box;
  background-position: 100% 0;
  background-size: 200% 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset;
  display: inline-block;
  font-size: 150%;
  height: 26px;
  margin: 0;
  overflow: hidden;
  text-align: left;
  transition-duration: .4s;
  transition-property: padding, width, background-position, text-indent;
  vertical-align: middle;
  width: 3em;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.ios-switch input[type="checkbox"] + div:before {
  background: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8) inset, 0 0 0.5em rgba(0, 0, 0, 0.3);
  color: #fff;
  content: 'On';
  float: left;
  font: bold 60%/1.9 sans-serif;
  height: 24px;
  margin: -3px;
  text-indent: -2.5em;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  width: 24px;
}
.ios-switch input[type="checkbox"] + div:after {
  color: rgba(0, 0, 0, 0.25);
  content: 'Off';
  float: left;
  font: bold 60%/1.9 sans-serif;
  margin-top: -2px;
  text-indent: .5em;
  text-shadow: none;
  text-transform: uppercase;
}
label.ios-switch {
  background: #fff;
  border-top-width: 0;
  display: block;
  font: bold 110% sans-serif;
  position: relative;
}
label.ios-switch:first-of-type {
  border-top-width: 1px;
  -webkit-border-radius: 0.6em 0.6em 0 0;
  -moz-border-radius: 0.6em 0.6em 0 0;
  border-radius: 0.6em 0.6em 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
label.ios-switch:last-of-type {
  box-shadow: 0 1px rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0 0 0.6em 0.6em;
  -moz-border-radius: 0 0 0.6em 0.6em;
  border-radius: 0 0 0.6em 0.6em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.onoffswitch {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  float: left;
  margin-right: 20px;
  position: relative;
  width: 100px;
}
.onoffswitch .onoffswitch-checkbox {
  display: none;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch .onoffswitch-label {
  border: 0 solid #999999;
  cursor: pointer;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.onoffswitch .onoffswitch-inner {
  -moz-transition: margin 0.3s ease-in 0;
  -o-transition: margin 0.3s ease-in 0;
  -webkit-transition: margin 0.3s ease-in 0;
  display: block;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0;
  width: 200%;
}
.onoffswitch .onoffswitch-inner .onoffswitch-active {
  background-color: #C2C2C2;
  color: #fff;
  padding-left: 15px;
}
.onoffswitch .onoffswitch-inner .onoffswitch-inactive {
  background-color: #C2C2C2;
  color: #fff;
  padding-right: 15px;
  text-align: right;
}
.onoffswitch .onoffswitch-inner > span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  float: left;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  padding: 0;
  position: relative;
  width: 50%;
}
.onoffswitch .onoffswitch-switch {
  border: 0 solid #999999;
  bottom: 0;
  display: block;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.onoffswitch .onoffswitch-active .onoffswitch-switch {
  background: #34A7C1;
  left: 0;
}
.onoffswitch .onoffswitch-active .onoffswitch-switch::before {
  border-color: #34A7C1 transparent transparent #34A7C1;
  border-style: solid;
  border-width: 15px 10px;
  content: " ";
  left: 40px;
  position: absolute;
  top: 0;
}
.onoffswitch .onoffswitch-inactive .onoffswitch-switch {
  background: #A1A1A1;
  right: 0;
}
.onoffswitch .onoffswitch-inactive .onoffswitch-switch::before {
  border-color: transparent #A1A1A1 #A1A1A1 transparent;
  border-style: solid;
  border-width: 15px 10px;
  content: " ";
  position: absolute;
  right: 40px;
  top: 0;
}
.onoffswitch2 {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  float: left;
  margin-right: 20px;
  position: relative;
  width: 73px;
}
.onoffswitch2 .onoffswitch-checkbox {
  display: none;
}
.onoffswitch2 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch2 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
.onoffswitch2 .onoffswitch-label {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}
.onoffswitch2 .onoffswitch-inner {
  display: block;
  margin-left: -100%;
  width: 200%;
  -webkit-transition: margin 0.3s ease-in;
  -moz-transition: margin 0.3s ease-in;
  -o-transition: margin 0.3s ease-in;
  -ms-transition: margin 0.3s ease-in;
  transition: margin 0.3s ease-in;
}
.onoffswitch2 .onoffswitch-inner::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #34A7C1;
  box-sizing: border-box;
  color: #fff;
  content: "ON";
  display: block;
  float: left;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  padding: 0;
  padding-left: 8px;
  width: 50%;
}
.onoffswitch2 .onoffswitch-inner::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #eeeeee;
  box-sizing: border-box;
  color: #999999;
  color: #fff;
  content: "OFF";
  display: block;
  float: left;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  padding: 0;
  padding-right: 8px;
  text-align: right;
  width: 50%;
}
.onoffswitch2 .onoffswitch-switch {
  background: #fff;
  border-radius: 3px;
  border: 2px solid #FFFFF;
  bottom: 0;
  display: block;
  height: 14px;
  margin: 5px;
  position: absolute;
  right: 45px;
  top: 0;
  width: 14px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}


/* Navbar Style */

.navbar, .navbar-default, .navbar-fixed-top {
	background-color: #0C563F;
	height: 55px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	} 
	
.navbar-default .navbar-brand {
	color: #FFF;
	}
	
.navbar-default .navbar-brand:hover {
	color: #FFF;
	}
	
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #FFF;
	background-color: #01658E;
	}
	
.navbar-default .navbar-nav>li>a {
	color: #FFF;
	}
	
.navbar-default .navbar-nav>li>a {
	color: #FFF;
	}
	
.navbar-default .navbar-nav>li>a:hover {
	color:#FFF;
	background-color: #01658E;
	}

.navbar-inverse { 
    background-color: #1e8cbe;
	}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
	}
	
.navbar-default .navbar-toggle {
	border-color: #FFF;
	}
	
.navbar-default .navbar-toggle:focus {
	border-color: #FFF;
	background-color: #01658E;
	}
	
.navbar-default .navbar-toggle:hover {
	border-color: #FFF;
	background-color: #01658E;
	}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #FFF;
	background-color: #01658E;
	}
	
@media (max-width: 767px)
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
	
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #FFF;
	}
	
.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #FFF;
	white-space: nowrap;
	}
	

/* Scroll to top */

#scroll-top {
	position:fixed;
	bottom:30%;
	right:5px;
	text-decoration:none;
	color:#aaa;
	display:none;
	font-size:1.5em
	}

#scroll-top:hover{
	cursor:pointer;
	}
		
.up {
	background: #F18080;
	border: 1px solid #fff;
	border-radius: 2px;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	bottom: 40px;
	-webkit-transform: translate3d(0, 0, 0px);
	display: block;
	height: 35px;
	width: 35px;
	overflow: hidden;
	position: fixed;
	right: 10px;
	text-indent: -99999em;
	text-decoration: none;
	z-index: 100;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 0.5;
	filter: alpha(opacity=40); /* For IE8 and earlier */
	}
		
.up:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	}
	
.up:before {
	color: #fff;
	content: "\e621";
	display: block;
	font-family: 'icons';
	font-size: 18px;
	height: 100%;
	line-height: 37px;
	text-align: center;
	text-indent: 0;
	width: 100%;
	}
		
.up.is-on {
	opacity: .7;
	}
	
.up.is-off {
	opacity: 0;
	}

.up.is-inactive {
	opacity: .2;
	}

.up.is-hidden {
	right: 999px;
	}

textarea.form-control {
	height:;
	}
	
/*	Font Declarations */
	
@font-face {
	font-family: 'icons';
	src:url('font/icons/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
		
[class*="icon-"] {
	font-family: 'icons';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

[class*="icon-"]:before {
	display: block;
	position: absolute;
	text-indent: 0;
	}





